fastapi==0.120.0
uvicorn[standard]==0.34.0
python-multipart==0.0.20

google-genai==1.46.0
google-adk==1.17.0

sqlalchemy==2.0.36
psycopg2-binary==2.9.10

pytesseract==0.3.13
Pillow==11.3.0
PyPDF2==3.0.1

pydantic==2.12.3
pydantic-settings==2.11.0

python-dotenv==1.1.1

reportlab==4.2.5
